@tailwind base;
@tailwind components;
@tailwind utilities;



/* CUSTOME STYLES */
@layer components {
    html {
        font-size: 62.5%;
    }



    /* TYPOGRAPHY */
    p,
    a {
        font-size: 1.6rem;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .subheading {
        font-family: 'Days One', sans-serif;
    }

    /* {
        font-family: 'Days One', sans-serif !important;

    } */


    h2,
    h3,
    h4 {
        color: #090A09;
        font-style: normal;
        font-weight: 400;
        line-height: 26.5px;
        text-align: center;

    }

    /* CARDS */

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }

    /* GRIDS */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    .container {
        margin-inline: auto;
        max-width: 1200px !important;
        padding: 10px;
        /* background-color: red !important; */
    }
}