@tailwind base;
@tailwind components;
@tailwind utilities;



/* CUSTOME STYLES */
@layer components {
    html {
        font-size: 62.5%;
    }



    /* TYPOGRAPHY */
    p,
    a {
        font-size: 1.6rem;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1,
    h2,
    h3,
    #formLabel,
    h4,
    h5,
    h6,
    .subheading {
        font-family: 'Days One', sans-serif;
    }




    h2,
    h3,
    h4 {
        color: #090A09;
        font-style: normal;
        font-weight: 400;
        line-height: 26.5px;
        text-align: center;

    }

    /* CARDS */

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }


    /* GRIDS */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    .container {
        margin-inline: auto;
        max-width: 1200px !important;
        padding: 10px;
    }
}

/* button */
button {
    font-size: 1.6rem !important;
    background-color: #522D6E;
}



/* footer */
footer li {
    margin-block: 5px;
}

@media screen and (min-width: 768px) {
    header {

        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 25% 100%, 0 70%);
    }
}



/* our process  */
.ourProcess p {
    margin-left: 10px;
}



header {
    position: relative;
    margin-bottom: 3rem;
}

body {
    height: 600px !important;
}

/* testimonial*/
#headerWitcurvedBackground::after {
    content: '';
    width: 100% !important;

    position: absolute;
    display: inline-block;
    top: 74%;
    background-image: url(assets/NRW\ White\ 3.svg);
    background-size: cover;
    height: 200px !important;
    z-index: -1000000;
    background-repeat: no-repeat;
}

@media screen and (min-width:500px) {
    #headerWitcurvedBackground::after {
        top: 25rem
    }
}

@media screen and (min-width:768px) {
    #headerWitcurvedBackground::after {
        height: 400px !important;
        top: 40rem;
        /* top: 40r em */
        /* top: 20rem */
    }
}

@media screen and (min-width: 1008px) {
    #headerWitcurvedBackground::after {
        /* top: 30rem */
    }
}


/* contact us section */

.contactUsForm input,
textarea {
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    margin: 1rem;
    box-shadow: 0px 4px 19px 0px #00000040;
}

textarea::placeholder,
input::placeholder {
    color: #010101;
}