@tailwind base;
@tailwind components;
@tailwind utilities;



/* CUSTOME STYLES */
@layer components {
    html {
        font-size: 62.5%;
    }





    /* TYPOGRAPHY */
    p,
    a {
        font-size: 1.6rem;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1,
    h2,
    h3,
    #formLabel,
    h4,
    h5,
    h6,
    .subheading {
        font-family: 'Days One', sans-serif;
    }




    h2,
    h3,
    h4 {
        color: #090A09;
        font-style: normal;
        font-weight: 400;
        line-height: 26.5px;
        text-align: center;

    }

    /* CARDS */

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }


    /* GRIDS */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    .container {
        margin-inline: auto;
        max-width: 1200px !important;
        padding: 10px;
    }
}

/* button */
button {
    font-size: 1.6rem !important;
    background-color: #522D6E;
}



/* footer */
footer li {
    margin-block: 5px;
}

@media screen and (min-width: 768px) {
    header {

        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 25% 100%, 0 70%);
    }
}



/* our process  */
.ourProcess p {
    margin-left: 10px;
}



header {
    position: relative;
    margin-bottom: 3rem;
}

/* 
@media screen and (max-width: 768px) {
    header h1 {
        margin-top: 10rem !important;
    }
} */

body {
    height: 600px !important;
}

/* testimonial*/
#headerWitcurvedBackground::after {
    content: '';
    width: 100% !important;

    position: absolute;
    display: inline-block;
    top: 74%;
    background-image: url(assets/NRW\ White\ 3.svg);
    background-size: cover;
    height: 200px !important;
    z-index: -1000000;
    background-repeat: no-repeat;
}

@media screen and (min-width:500px) {
    #headerWitcurvedBackground::after {
        top: 25rem
    }
}

@media screen and (min-width:768px) {
    #headerWitcurvedBackground::after {
        height: 400px !important;
        top: 40rem;

    }
}

/* contact us section */
.contactUsForm input {
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    margin: 1rem;
    box-shadow: 0px 4px 19px 0px #00000040;
}


.contactUsForm #likeHelp {
    padding-bottom: 8rem !important;
}

input::placeholder {
    color: #010101;
}



body {
    overflow-x: hidden !important;
}


.hidden {
    display: none;
}

.slides-container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.slide {
    width: 300px !important;
}

.slides-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}



@media screen and (max-width:768px) {
    .navList li {
        margin-block: 7px !important;
    }

    /* fixed Navbar */
    .fixed {
        /* position: fixed; */
        top: 0px !important;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto !important;
        border-radius: 0px !important;
        z-index: 10009999999999999 !important;
        box-shadow: 0px 5px 15px 0px #522D6E !important;
    }


    .fixedNavList {
        position: fixed;
        width: 90%;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
    }
}


/* autoplay carousel animation */
/* 
@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .infiniteslide {
    height: 100px;
    width: 250px;
} */

/* https://codepen.io/studiojvla/pen/qVbQqW */